html {
    font-size: 8px;
    font-family: 'Roboto Mono', monospace;
    color: #594a4e;
    background-color: #bef5ff;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 6rem;

    text-align: center;
    font-size: 5rem;
    padding: 2rem 0;
    margin: 0;
}

.mainContainer {
    margin: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameText {
    font-size: 3.5rem;
    padding: 2rem 0;
    text-align: center;
}

.gameboard {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    
    width: 60rem;
    height: 60rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 183, 210);
    border: .75rem solid #bef5ff;

    transition: transform .3s;

    font-size: 15rem;
}

.cell:not(.taken):hover {
    background-color: rgb(224, 154, 183);
}

.cell:not(.taken):active {
    transform: scale(.95);
    transition: transform .3s;
}

.button {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    width: 15rem;
    padding: 2rem;
    margin-top: 2rem;
    transition: transform .3s;
}

.button:hover {
    background-color: rgb(109, 221, 184);
}

.button:active {
    transform: scale(.95);
    transition: transform .3s;
}

svg {
    position: absolute;
    pointer-events:none;

    width: inherit;
    height: inherit;
}


#winLine {
    pointer-events:none;
    fill: none;
    stroke: rgb(255, 0, 0);
    opacity: 0%;
    transition: opacity 1s;
    stroke-width:3
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Main Menu */
.mainMenu {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Mobile support */
@media only screen and (max-width: 600px) {
    .gameboard {
      width: 90vw;
      max-width: 60rem;
      height: 90vw;
      max-height: 60rem;
    }

    .cell {
        font-size: 20vw;
    }
  }